
@{
    ViewData["Title"] = "Index";
    int order = 1;
}

@model SliderVM



<div class="p-3 w-100 overflow-scroll">

    <div class="d-flex col-12  my-2 justify-content-between align-items-center">
        <div>Yeni Slider Yarat:</div>
        <a asp-action="create" asp-controller="slider" class="btn btn-success">Yarat</a>
    </div>

    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Subtitle</th>
                <th scope="col">Desc</th>
                <th scope="col">Button Text</th>
                <th scope="col">Link</th>
                <th scope="col">Order</th>
                <th scope="col">Image</th>
                <th scope="col">Actions</th>

            </tr>
        </thead>
        <tbody>

            @foreach (Slider slider in Model.Sliders)
            {
                <tr>
                    <th scope="row">@order</th>
                    <td>@slider.Title</td>
                    <td>@slider.Title2</td>
                    <td>@slider.Text</td>
                    <td>@slider.ButtonText</td>
                    <td>@slider.ButtonText</td>
                    <td>@slider.queue</td>

                    <td>
                        <img src="~/Uploads/Sliders/@slider.Image" alt="@slider.Title" loading="lazy" width="150" height="100" style="object-fit:cover" />
                    </td>

                    <td >
                        <div class=" d-flex h-100 nowrap">
                        <a asp-action="edit" asp-controller="slider" asp-route-id="@slider.Id" class="btn btn-info mx-1">Edit</a>

                        <a asp-action="Delete" asp-controller="slider" asp-route-id="@slider.Id" class="btn btn-danger btn-delete mx-1">Delete</a>
                        </div>

                    </td>

                </tr>

                order++;
            }
          
           
        </tbody>
    </table>

   
</div>


@section Scripts{
    <script>

        $(".btn-delete").on("click",(e)=>{
            e.preventDefault();


            Swal.fire({
                title: 'Əminsiniz?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Bəli, Sil!'
            }).then((result) => {

                let link = e.target.getAttribute("href");

                fetch(link).then(res => {

                    if (res.ok) {
                        if (result.isConfirmed) {
                            Swal.fire(
                                'Silindi!',
                                'Əməliyyat uğurla yerinə yetirildi',
                                'success'
                            ).then(() => {
                                window.location.reload();
                            })
                        }
                    }
                    else{
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Xəta baş verdi!',
                        })
                    }
                })

               
            })

            

        })

    </script>
}
