@using AVRO_CONSTRUKTİON_MMC.Helpers.Interfaces
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject ILayoutService layoutService

@{
    var settings = layoutService.GetSettingsDictionary();
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="~/assets/images/favicon.png" type="image/png" />
    <title>BuildeTrack</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/assets/vendors/linearicons/style.css" />
    <link rel="stylesheet" href="~/assets/vendors/stroke-icon/style.css" />
    <link rel="stylesheet" href="~/assets/vendors/flat-icon/flaticon.css" />

    <!-- Extra Plugin CSS -->
    <link href="~/assets/vendors/image-dropdown/dd.css" rel="stylesheet" />
    <link href="~/assets/vendors/image-dropdown/flags.css" rel="stylesheet" />
    <link href="~/assets/vendors/image-dropdown/skin2.css" rel="stylesheet" />
    <link href="~/assets/vendors/popup/magnific-popup.css" rel="stylesheet" />
    <link href="~/assets/vendors/owl-carousel/assets/owl.carousel.min.css" rel="stylesheet" />

    <!-- Rev slider css -->
    <link href="~/assets/vendors/revolution/css/settings.css" rel="stylesheet" />
    <link href="~/assets/vendors/revolution/css/layers.css" rel="stylesheet" />
    <link href="~/assets/vendors/revolution/css/navigation.css" rel="stylesheet" />

    <!-- main css -->
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <link rel="stylesheet" href="~/assets/css/responsive.css" />
</head>

<body>
    <div class="body_wrapper">
        <!--================Header Area =================-->
        <header class="header_area">
            <div class="top_bar">
                <div class="container">
                    <div class="d-flex justify-content-between">
                        <div class="left">
                            <h5>
                                <a href="tel:@settings["Telefon"]">Construction Company</a>
                            </h5>
                        </div>
                        <div class="right">
                            <ul class="nav">
                                <li>Mütəxəssis ilə danış :<a href="tel:@settings["Telefon"]">@settings["Telefon"]</a></li>
                              @*  <li class="flag_drop">
                                    <div class="selector">
                                        <select class="language_drop" name="countries" id="countries" style="width: 300px;">
                                            <option value="yt" data-image="~/assets/images/country-aus.png" data-imagecss="flag yt"
                                                    data-title="English">English</option>
                                            <option value="yu" data-image="~/assets/images/country-bang.png" data-imagecss="flag yu"
                                                    data-title="Bangladesh">Bangla</option>
                                            <option value="yt" data-image="~/assets/images/country-aus.png" data-imagecss="flag yt"
                                                    data-title="English">English</option>
                                            <option value="yu" data-image="~/assets/images/country-bang.png" data-imagecss="flag yu"
                                                    data-title="Bangladesh">Bangla</option>
                                        </select>
                                    </div>
                                </li>*@
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main_menu">
                <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" asp-action="index" asp-controller="home">
                            <img src="~/assets/images/logo.png"
                                 srcset="~/assets/images/logo2x.png 2x" alt="" />
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="nav navbar-nav ml-auto">
                                <li><a asp-action="index" asp-controller="Home">Ana Səhifə</a></li>
                                <li><a asp-action="index" asp-controller="Employee">Komandamız</a></li>
                                <li><a asp-action="AboutUs" asp-controller="Home">Haqqımızda</a></li>
                                <li><a asp-action="Services" asp-controller="Home">Xidmətlərimiz</a></li>

                                <li><a asp-action="index" asp-controller="Project">Layihələrimiz</a></li>
                               
                                <li><a asp-action="ContactUs" asp-controller="Home">Bizimlə Əlaqə</a></li>
                            </ul>
                           @* <ul class="nav navbar-nav navbar-right">
                                <li class="reserve_btn">
                                    <a class="popup-with-zoom-anim" href="#test-search"><i class="icon icon-Search"></i></a>
                                </li>
                            </ul>*@
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <!--================End Header Area =================-->
        @RenderBody()
        <!--================Contact Details Area =================-->
        <section class="contact_details_area">
            <div class="container">
                <div class="row client_details_inner">
                    <div class="col-lg-4 col-md-6">
                        <div class="media">
                            <div class="d-flex">
                                <img src="~/assets/images/icon/marker.png" alt="" />
                            </div>
                            <div class="media-body">
                                <p>@settings["Address"]</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="media">
                            <div class="d-flex">
                                <img src="~/assets/images/icon/inbox.png" alt="" />
                            </div>
                            <div class="media-body">
                                <p>
                                    Email :
                                    <a href="mailto:@settings["Email"]">@settings["Email"]</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="media">
                            <div class="d-flex">
                                <img src="~/assets/images/icon/phone.png" alt="" />
                            </div>
                            <div class="media-body">
                                <p>
                                    Telefon :
                                    <a class="number" href="tel:@settings["Telefon"]">@settings["Telefon"]</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Contact Details Area =================-->
        <!--================Footer Area =================-->
        <footer class="footer_area">
            <div class="container">
                <div class="footer_widgets row">
                    <div class="col-lg-3 col-sm-6">
                        <aside class="f_widget ab_widget">
                            <img src="~/assets/images/f-logo.png" srcset="~/assets/images/f-logo-2x.png 2x" alt="" />
                            <p>
                                Capitalize on low hanging fruit to identify a ballpark value
                                added activity to beta test. Override the digital divide
                                additional clickthroughs.
                            </p>
                            <a asp-action="aboutUs" asp-controller="home">Read more ...</a>
                        </aside>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <aside class="f_widget link_widget">
                            <div class="f_title">
                                <h3>Faydalı keçidlər</h3>
                            </div>
                            <ul class="nav flex-column">
                                <li><a asp-action="index" asp-controller="home">Ana səhifə</a></li>
                                <li><a asp-action="aboutUs" asp-controller="home">Haqqımızda</a></li>
                                <li><a asp-action="index" asp-controller="Employee">Komandamız</a></li>
                                <li><a asp-action="contactUs" asp-controller="home">Bizimlə Əlaqə</a></li>
                            </ul>
                        </aside>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <aside class="f_widget link_widget service_widget">
                            <div class="f_title">
                                <h3>Services</h3>
                            </div>
                            <ul class="nav flex-column">
                                <li><a href="#">Building Construction</a></li>
                                <li><a href="#">Architecture Design</a></li>
                                <li><a href="#">Building Renovation</a></li>
                                <li><a href="#">Flooring & Roofing</a></li>
                                <li><a href="#">Interior Design</a></li>
                            </ul>
                        </aside>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <aside class="f_widget news_widget">
                            <div class="f_title">
                                <h3>Sosial Media səhifələrimiz</h3>
                            </div>
                            <div class="news_wd_inner">
                                <p>Ən son məlumatları əldə edin</p>
                               
                            </div>
                            <ul class="nav social_icon">
                                <li>
                                    <a href="@settings["Facebook"]"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="@settings["LinkedIn"]"><i class="fa fa-linkedin"></i></a>
                                </li>
                                <li>
                                    <a href="@settings["Twitter"]"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="@settings["Email"]"><i class="fa fa-envelope"></i></a>
                                </li>
                            </ul>
                        </aside>
                    </div>
                </div>
                <div class="footer_copyright d-flex justify-content-between">
                    <div class="left">
                        <p>
                            © Copyright buildtrack
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            . Müəllif hüquqları qorunur.
                        </p>
                    </div>
                    <div class="right">
                        <p>Müəllif  <a href="https://github.com/TAHiRLI">Tahir Tahirli</a> və <a href="https://github.com/RavilQ"> Ravil Quliyev</a></p>
                    </div>
                </div>
            </div>
        </footer>
        <!--================End Footer Area =================-->
    </div>


    <!--================Search Box Area =================-->
   @* <div class="search_area zoom-anim-dialog mfp-hide" id="test-search">
        <div class="search_box_inner">
            <h3>Search</h3>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter search keywords">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="icon icon-Search"></i></button>
                </span>
            </div>
        </div>
    </div>*@
    <!--================End Search Box Area =================-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/assets/js/jquery-3.4.1.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>

    @RenderSection("Scripts", false)
    <!-- Rev slider js -->
    <script src="~/assets/vendors/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/assets/vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/assets/vendors/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/assets/vendors/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="~/assets/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/assets/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/assets/vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <!-- Extra Plugin js -->
    <script src="~/assets/vendors/image-dropdown/jquery.dd.min.js"></script>
    <script src="~/assets/vendors/popup/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/assets/vendors/parallaxie/parallaxie.js"></script>

    <script src="~/assets/js/theme.js"></script>
</body>

</html>