
@{
    ViewData["Title"] = "- Layihələrimiz";
    ViewData["Page"] = "Projects";

}
@model ProjectsViewModel;


  <!--================Breadcrumb Area =================-->
    <section class="breadcrumb_area">
      <h1>Construction</h1>
      <div class="container">
        <h2>Layihələrimiz</h2>
        <ul class="nav">
          <li><a asp-action="index" asp-controller="home">Home</a></li>
          <li>
            <a class="active" href="#">Layihələrimiz</a>
          </li>
        </ul>
      </div>
    </section>
    <!--================End Breadcrumb Area =================-->

    <!--================Our Projects Area =================-->
    <section class="our_projects_area projects_one my-5">
      <div class="container">
        <div class="our_projects_inner">
            <h4 class="text-center my-4">@Model.Settings["Projects_Title"]</h4>
            <p class="text-center">@Model.Settings["Projects_Description"]</p>
          <div class="row gallery_inner imageGallery1">
              <!--Start-->
                  @foreach (Project project in Model.Projects)
                {
                    <!--Item-->

                    <div class="col-lg-3 col-md-4 col-sm-6 comm hos recon">
                        <a asp-action="details" asp-controller="Project" asp-route-id="@project.Id" class=" position-relative">
                            <div class="projects_item">


                                <img class="" src="~/Uploads/Projects/@project.Image" alt="@project.Name" />

                                <h5>@project.Name</h5>
                            </div>
                        </a>
                    </div>

                }

                <!--End-->
            </div>
        </div>
      </div>
    </section>
    <!--================End Our Projects Area =================-->
