@using AVRO_CONSTRUKTİON_MMC.Areas.Admin.ViewModels.ProjectVMs
@{
    ViewData["Title"] = "Index";
    int order = 1;
}

@model ProjectVM



<div class="p-3 w-100 overflow-scroll">

    <div class="d-flex col-12  my-2 justify-content-between align-items-center">
        <div>Yeni Layihə Yarat:</div>
        <a asp-action="create" asp-controller="Project" class="btn btn-success">Yarat</a>
    </div>

    <div class="row  mt-3 rounded">


            @foreach (var proj in Model.Projects)
            {
                <div class="  mb-3 d-flex align-items-strech  col-sm-6 col-md-4 col-12">
                    <div class="card p-3 col-12 d-flex flex-column justify-content-between">
                        <div class="">
                            <img src="~/Uploads/Projects/@proj.Image" class="img-fluid rounded-top project-image" alt="@proj.Name">
                        </div>
                        <div class="">
                            <div class="card-body">
                               
                                <h5 class="card-title">@proj.Name <small class=" text-success bold">@(proj.IsFeatured ? "- Xüssusi Layihə":"")</small></h5>
                                @Html.Raw(proj.Description)
                            </div>
                        </div>

                        <div class="card-footer d-flex justify-content-end">
                            <a asp-action="Edit" asp-controller="project" asp-route-id="@proj.Id" class="btn btn-info mx-1">Edit</a>

                            <a asp-action="Delete" asp-controller="project" asp-route-id="@proj.Id" class="btn btn-danger btn-delete mx-1">Delete</a>

                        </div>

                    </div>
                </div>
            }


    </div>

</div>


@section Scripts{
    @await Html.PartialAsync("_swalDeleteScript")
}
