@{
    ViewData["Title"] = "Index";
    int order = 1;
}
@using AVRO_CONSTRUKTİON_MMC.Areas.Admin.ViewModels.EmployeeVMs
@model EmployeeVM



<div class="p-3 w-100 overflow-scroll">

    <div class="d-flex col-12  my-2 justify-content-between align-items-center">
        <div>Yeni Slider Yarat:</div>
        <a asp-action="create" asp-controller="Employee" class="btn btn-success">Yarat</a>
    </div>

    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Ad, Soyad</th>
                <th scope="col">Vəzifəsi</th>
                <th scope="col">LinkedIn</th>
                <th scope="col">Email</th>
                <th scope="col">Şəkil</th>
                <th scope="col">Əməliyyatlar</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var emp in Model.Employees)
            {
                <tr>
                    <th scope="row">@order</th>
                    <td>@emp.Fullname</td>
                    <td>@emp.Job.Name</td>
                    <td>@emp.LinkedIn</td>
                    <td>@emp.Email </td>

                    <td>
                        <img src="~/Uploads/Employees/@emp.Image" alt="@emp.Fullname" loading="lazy" width="150" height="100" style="object-fit:cover" />
                    </td>

                    <td>
                        <div class=" d-flex h-100 nowrap">
                            <a asp-action="edit" asp-controller="Employee" asp-route-id="@emp.Id" class="btn btn-info mx-1">Edit</a>

                            <a asp-action="Delete" asp-controller="Employee" asp-route-id="@emp.Id" class="btn btn-danger btn-delete mx-1">Delete</a>
                        </div>

                    </td>

                </tr>

                order++;
            }


        </tbody>
    </table>


</div>


@section Scripts{
    @await Html.PartialAsync("_swalDeleteScript")
}
