@using AVRO_CONSTRUKTİON_MMC.ViewModel

@model HomeViewModel

@{
    ViewData["Page"] = "Home";
    var right = 0;
}

<!--================Slider Area =================-->
<section class="main_slider_area">
    <h2 class="stroke_text">Construction</h2>
    <div id="main_slider1" class="rev_slider" data-version="5.3.1.6">
        <ul>
            @foreach (var slider in Model.Sliders)
            {
                right++;


                <li data-index="rs-@slider.Id" data-transition="fade" data-slotamount="default" data-hideafterloop="0"
                data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300"
                data-thumb="~/assets/images/home-slider/@slider.Image" data-rotate="0" data-saveperformance="off"
                data-title="Creative" data-param1="01" data-param2="" data-param3="" data-param4="" data-param5=""
                data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="~/Uploads/Sliders/@slider.Image" alt="" data-bgposition="center center" data-bgfit="cover"
                     data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina />

                    <!-- LAYER NR. 1 -->
                    @if (right % 2 == 0)
                    {
                        <div class="slider_text_box">
                            <div class="tp-caption tp-resizeme first_text" data-x="['right','right','right','15','15']"
                         data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']"
                         data-voffset="['165','165','165','150','135']" data-fontsize="['60','60','60','40','40']"
                         data-lineheight="['66','66','66','50','50']" data-width="['620','620','620','480','450']"
                         data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on"
                         data-frames='[{"delay":10,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1500,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                         data-textAlign="['left','left','left','left']">
                                @slider.Title <span>@slider.Title2</span>
                            </div>

                            <div class="tp-caption tp-resizeme secand_text" data-x="['right','right','right','15','15']"
                         data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']"
                         data-voffset="['314','314','314','270','250']" data-fontsize="['18','18','18','18','18']"
                         data-lineheight="['28','28','28','28']" data-width="['625','625','625','600','400']" data-height="none"
                         data-whitespace="normal" data-type="text" data-responsive_offset="on" data-transform_idle="o:1;"
                         data-frames='[{"delay":10,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1500,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                                @slider.Text
                            </div>

                            <div class="tp-caption tp-resizeme slider_button" data-x="['right','right','right','15','15']"
                         data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']"
                         data-voffset="['405','405','405','350','360']" data-fontsize="['14','14','14','14']"
                         data-lineheight="['46','46','46','46']" data-width="none" data-height="none" data-whitespace="nowrap"
                         data-type="text" data-responsive_offset="on"
                         data-frames='[{"delay":10,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1500,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                                <a class="main_btn white" href="@slider.BtnLink">@slider.ButtonText</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="slider_text_box">
                            <div class="tp-caption tp-resizeme first_text" data-x="['left','left','left','15','15']"
                         data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']"
                         data-voffset="['165','165','165','150','135']" data-fontsize="['60','60','60','40','40']"
                         data-lineheight="['66','66','66','50','50']" data-width="['620','620','620','480','450']"
                         data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on"
                         data-frames='[{"delay":10,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1500,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                         data-textAlign="['left','left','left','left']">
                                @slider.Title <span>@slider.Title2</span>
                            </div>

                            <div class="tp-caption tp-resizeme secand_text" data-x="['left','left','left','15','15']"
                         data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']"
                         data-voffset="['314','314','314','270','250']" data-fontsize="['18','18','18','18','18']"
                         data-lineheight="['28','28','28','28']" data-width="['625','625','625','600','400']" data-height="none"
                         data-whitespace="normal" data-type="text" data-responsive_offset="on" data-transform_idle="o:1;"
                         data-frames='[{"delay":10,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1500,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                                @slider.Text
                            </div>

                            <div class="tp-caption tp-resizeme slider_button" data-x="['left','left','left','15','15']"
                         data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']"
                         data-voffset="['405','405','405','350','360']" data-fontsize="['14','14','14','14']"
                         data-lineheight="['46','46','46','46']" data-width="none" data-height="none" data-whitespace="nowrap"
                         data-type="text" data-responsive_offset="on"
                         data-frames='[{"delay":10,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1500,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                                <a class="main_btn white" href="@slider.BtnLink">@slider.ButtonText</a>
                            </div>
                        </div>
                    }


                </li>

            }
        </ul>
    </div>
</section>
<!--================End Slider Area =================-->
<!--================Tag Line Area =================-->
<section class="tagline_area">
    <div class="container">
        <div class="d-flex justify-content-between">
            <div class="left">
                <p>Mükəmməl tikinti heyəti axtarırsınız?</p>
            </div>
            <div class="right">
                <a class="dark_btn" asp-action="ContactUs" asp-controller="Home">Bizimlə Əlaqə</a>
            </div>
        </div>
    </div>
</section>
<!--================End Tag Line Area =================-->
<!--================Experience Area =================-->
<section class="experience_area p_100">
    <div class="container">
        <div class="row experience_inner">
            <div class="col-lg-5">
                <div class="experience_image">
                    <div class="col-6"><img class="object-fit-cover w-100 h-100 " src="~/assets/images/experience/@Model.Settings["HomeInfo_LeftImage"]" alt="Image about our company" /></div>
                    <div class="col-6 ps-1"><img class="object-fit-cover w-100 h-100 " src="~/assets/images/experience/@Model.Settings["HomeInfo_RightImage"]" alt="Image about our company" /></div>


                </div>
            </div>
            <div class="col-lg-7">
                <div class="experience_text">
                    <h5>Avro Construction MMC</h5>
                    <h3>@Model.Settings["HomeInfo_Title"]</h3>
                    @Html.Raw(Model.Settings["HomeInfo_Description"])
                    <a class="main_btn" href="@Model.Settings["HomeInfo_BtnLink"]">@Model.Settings["HomeInfo_BtnText"]</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Experience Area =================-->
<!--================Service Area =================-->
<section class="our_service_area p_100">
    <div class="container">
        <div class="main_title">
            <h2>@Model.Settings["OurServices_Title"]</h2>
            <p>
                @Model.Settings["OurServices_Text"]
            </p>
        </div>
        <div class="row service_inner">

            @foreach (var item in Model.Services)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="serive_item">
                        <div class="media">
                            <div class="media-body">
                                <h4>@item.Title</h4>
                                <p>
                                    @item.Text
                                </p>
                            </div>
                            <div class="media-right">
                                <i class="@item.Icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!--================End Service Area =================-->
<!--================Featured Area =================-->
<section class="featured_area p_100">
    <div class="container">
        <div class="main_title white">
            <h2>@Model.Settings["Projects_Title"]</h2>
            <p>
                @Model.Settings["Projects_Description"]
            </p>
        </div>
    </div>
    <div class="featured_inner row">

        @foreach (var proj in Model.Projects)
        {
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="featured_item">

                <a asp-action="details" asp-controller="project" asp-route-id="@proj.Id" >
                    <img class=" object-fit-cover" src="~/Uploads/Projects/@proj.Image" alt="@proj.Name" />
                    <h4 class="text-decoration-none">  <h4>@proj.Name</h4></h4>
                </a>
                </div>
            </div>
        }

       
    </div>
</section>
<!--================End Featured Area =================-->
<!--================Our Team Area =================-->
<section class="our_team_area p_100">
    <div class="container">
        <div class="row two_column_title">
            <div class="col-lg-3">
                <h2>@Model.Settings["OurTeam_Header"]</h2>
            </div>
            <div class="col-lg-9">
                <p>
                    @Model.Settings["OurTeam_Body"]
                </p>
            </div>
        </div>
        <div class="row team_inner">
            @foreach (var emp in Model.Employees)
            {
                <div class="col-lg-3 col-sm-6">
                    <div class="team_item">
                        <div class="team_img">
                            <img class="img-fluid" src="~/Uploads/Employees/@emp.Image" alt="" />
                            <ul class="nav">
                              
                                <li>
                                    <a href="@emp.LinkedIn"><i class="fa fa-linkedin"></i></a>
                                </li>
                                <li>
                                    <a href="@emp.Email"><i class="fa fa-envelope"></i></a>
                                </li>
                               
                            </ul>
                        </div>
                        <div class="team_text">
                            <h4>@emp.Fullname</h4>
                            <p>@emp.Job.Name</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!--================End Our Team Area =================-->


<!--================Client Logo Area =================-->
<section class="client_logo_area">
    <div class="container">
        <div class="client_logo_slider owl-carousel">
            @foreach (var clientLogo in Model.ClientLogos)
            {
                <div class="item">
                    <img src="~/Uploads/ClientLogos/@clientLogo.Image" alt="client logos" />
                </div>
            }
        </div>
    </div>
</section>
<!--================End Client Logo Area =================-->
