@using AVRO_CONSTRUKTİON_MMC.Areas.Admin.ViewModels.ServiceVMs

@model ServiceVM
@{
    ViewData["Title"] = "Vəzifələr";
    int order = 0;
}

<div class="p-3 w-100 overflow-scroll">

    <div class="d-flex col-12  my-2 justify-content-between align-items-center">
        <div>Yeni Xidmət Əlavə Et:</div>
        <a asp-action="create" asp-controller="Service" class="btn btn-success">Əlavə et</a>
    </div>

    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Başlıq</th>
                <th scope="col">Haqqında</th>
                <th scope="col">Ikon</th>
                <th scope="col">Əməliyyatlar</th>

            </tr>
        </thead>
        <tbody>

            @foreach (Service Service in Model.Services)
            {
                order++;
                <tr>
                    <th scope="row">@order</th>
                    <td>@Service.Title</td>
                    <td>@Service.Text</td>
                    <td>@Service.Icon</td>


                    <td class="d-flex nowrap">
                        <a asp-action="edit" asp-controller="Service" asp-route-id="@Service.Id" class="btn mx-2 btn-info">Edit</a>
                        <a asp-action="Delete" asp-controller="Service" asp-route-id="@Service.Id" class="btn mx-2 btn-danger btn-delete">Delete</a>

                    </td>

                </tr>

            }


        </tbody>
    </table>

    <div>
      
    </div>


</div>


@section Scripts{
    <script>

        $(".btn-delete").on("click", (e) => {
            e.preventDefault();


            Swal.fire({
                title: 'Əminsiniz?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Bəli, Sil!'
            }).then((result) => {

                let link = e.target.getAttribute("href");

                fetch(link).then(res => {

                    if (res.ok) {
                        if (result.isConfirmed) {
                            Swal.fire(
                                'Silindi!',
                                'Əməliyyat uğurla yerinə yetirildi',
                                'success'
                            ).then(() => {
                                window.location.reload();
                            })
                        }
                    }
                    else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Xəta baş verdi!',
                        })
                    }
                })


            })



        })

    </script>
}

